#忽略eclipse项目描述文件
*.classpath
*.project
*.prefs
.settings
**/target/
/bin/
#忽略svn文件
#忽略.svn/目录下全部文件，但是不包括subDir/.svn/目录下文件
.svn/
#忽略subDir目录下所有带.svn/目录的文件
**/.svn/

#忽略node_modules目录
node_modules/

#忽略IDEA工程文件
*.iml
.idea

**/metastore_db/
*.log